body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  position: relative;
}

/* Header */
.navBarContainer {
   display: flex;
   flex-direction: column;
}

.navbar-brand {
    text-decoration: none;
    background-color: #440C4E;
    padding: 20px 20px;
}

.tenantName {
    text-decoration: none;
    background-color: #312F32;
    color: white;
    padding: 20px 20px;
}

.navbar-brand a {
    text-decoration: none;
    color: white;
}

.navbar {
    background-color: black;
    color: white;
    height: 1000px;
    width: 100px;
    position: absolute;
    float: left;
}

.navbar ul {
    list-style-type: none; 
}

.navbar li {
    padding-bottom: 10px;
}

.navbar li:hover{
    padding-bottom: 10px;
    background-color: #33B86F;
}

/* bot */

.botPage {
    display: flex;
    flex:  1;
    margin-left: 100px;
    justify-content: space-between;
}

#category h3 {
     margin-left: 40px;
}

#category {
    background-color: #ECE7E1;
    height: 1000px;
    width: 20%;
   }

.categoryInput {
    margin-left: 40px;
}

#category ul {
    list-style-type: none;
}

#category.isopen {

}

#botForm {
    background-color : #FAF7F2;
    width: 60%;
}

#botForm h2 {
    margin-left: 20px;
}

#botForm input {
    margin-left: 20px;
    width: 80%;
    padding: 10px 10px;
    border: 10px solid lightgrey;
}

#botForm.isopen {
    

}

.botAccessory {
    height: 1000px;
    border: 1px solid black;
    width: 20%;
}

.firstContainer {
 border: 1px solid black;
 height: 70%;
 display: flex;
 flex-direction: row;
}

.firstContainer ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    background-color: black;
    margin-top: 0px;
}

.firstContainer li {
   padding: 10px 50px;
   color: white;
  
}

.firstContainer li:hover{
   padding: 10px 50px;
   color: white;
   background-color: #33B86F;
}

.firstContainer #one {
   
}

.secondContainer {
border: 1px solid black;
height: 30%;
}

/* Stats page */

.Stats{
    margin-left: 100px;
}

.analytics {
 display: absolute;
}

.analyticsTitle {
    margin-left: 50px;
}

.analytics ul {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
}

.analytics li {
    background-color: #440C4E;
    height: 100px;
    width: 300px;
    margin: 10px 10px;
    color: white;
    display: flex;
    flex-basis: calc(33% - 20px);
    justify-content: center;
    flex-direction: column;
}

.fallback {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.fallbackTitle {
    margin-left: 50px;
}

.fallback ul {
 list-style-type: none;  
 display: flex;
 flex-direction: column;
 justify-content: flex-start;
}

.fallback li {
    background-color: #ECE7E1;
    margin-bottom: 5px;
    width: 700px;
    padding: 10px 10px;
    float: left;
}

.TwylaBotButton {
    display: flex;
    justify-content: flex-start;
    padding: 10px 10px;
    background-color: #33B86F;
    border: none;
    color: white;
    margin-left: 40px;
}

/* Tenant Page */
.tenantPage {
    margin-top: 50px;
    margin-left: 150px;
}

/* Integration */
.integrationPage {
    margin-top: 50px;
    margin-left: 150px;
}

.integrationist {
display: flex;
flex-direction: column;
}

.integrationist ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}

.integrationist li {
    padding: 30px 30px;
  
    display: flex;
    flex-basis: calc(33% - 20px);
    justify-content: center;
    flex-direction: column;
}