body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  position: relative;
}

/***** HEADER *****/

.navBarContainer {
   display: flex;
   flex-direction: column;
}

.navbar-brand {
    text-decoration: none;
    background-color: #440C4E;
    padding: 20px 20px;
}

.tenantName {
    text-decoration: none;
    background-color: #312F32;
    color: white;
    padding: 20px 20px;
}

.navbar-brand a {
    text-decoration: none;
    color: white;
}

.navbar {
    background-color: black;
    color: white;
    height: 1035px;
    width: 100px;
    position: absolute;
    float: left;
    z-index: 1;
}

.navbar ul {
    list-style-type: none; 
}

.navbar li {
    padding-bottom: 10px;
}

.navbar li:hover{
    padding-bottom: 10px;
    background-color: #33B86F;
}

/***** BOT *****/

.botPage {
    display: flex;
    flex:  1;
    margin-left: 100px;
    height: 100vh;
    justify-content: space-between;
}

.categoryContainer {
    margin-top: 0;
    background-color: grey;
    display: flex;
}

.categoryContainer h3 {
    color: white;
    padding-right: 20px;
}

.categoryContainer button {
    background-color: grey;
    border: 0;
    height: 50px;
}

.slideinButton {
    background-color: grey;
    padding-right: 50px;
}

.categoryContainer h3 {
     margin-left: 40px;
}

#category {
    background-color: #ECE7E1;
    height: 950px;
    width: 100%;
    padding-top: 30px;
    display: absolute;
    transition: transform 400ms ease-out;
}

.categoryInput {
    margin-left: 40px;
    padding: 5px 5px;
}

#category ul {
    list-style-type: none;
}

#category li {
    padding-bottom: 10px;
}

#category li:active {
    padding-bottom: 10px;
    background-color: purple;
}

#category.caOpen {
    width: -200px;
    transform: translateX(-100%);
}

.categoryContainer .caOpen {
    display: none;
    margin-top: 0;
    transition: .3s;
    height: 100px;
}

#bot {
    display: absolute;
    width: 100%;
    height: 900px;
    transition: .4s ease-in-out;
    z-index: 0;
}

#bot h2 {
    margin-left: 20px;
    margin-bottom: 50px;
}

#bot input {
    margin-left: 20px;
    margin-right: 20px;
    width: 800px;
    padding: 10px 10px;
    border: 10px solid lightgrey;
    transition: transform 400ms ease-out;
}

#botInput.caOpen {
    margin-left: -150px;
    width: 1200px;
}

#botInput.acOpen {
    margin-right: -150px;
    width: 1200px;
}


#bot h2 {
    display: absolute;
}

#bot .botInput {
    display: absolute;
}

#accessory {
    border: 1px solid black;
    width: 100%;
    display: fixed;
    z-index: 1;
    transition: transform 400ms ease-out;
}

.accessoryButton {
    background-color: black;
}

.accessoryButton button {
    background-color: black;
    border: none;
    padding: 10px 10px;
}

.slideoutButton {
    background-color: black;
    color: white;
}

#accessory button {
    display: fixed;
}

#accessory.acOpen { 
   margin-right: -500px;
   transition: .3s;
   transform: translateX(100%);
}

.firstContainer {
     border: 1px solid black;
     height: 60vh;
     display: flex;
     flex-direction: row;
}

.firstContainer ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    background-color: black;
    margin-top: 0px;
}

.firstContainer li {
   padding: 10px 50px;
   color: white;
  
}

.firstContainer li:hover{
   padding: 10px 50px;
   color: white;
   background-color: #33B86F;
}

.secondContainer {
   height: 40vh;
   border: 1px solid black;

}

/***** STATS *****/

.Stats{
   margin-left: 100px;
}

.analytics {
   display: absolute;
}

.analyticsTitle {
    margin-left: 50px;
}

.analytics ul {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
}

.analytics li {
    background-color: #440C4E;
    height: 100px;
    width: 300px;
    margin: 10px 10px;
    color: white;
    display: flex;
    flex-basis: calc(33% - 20px);
    justify-content: center;
    flex-direction: column;
}

.fallback {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.fallbackTitle {
    margin-left: 50px;
}

.fallback ul {
    list-style-type: none;  
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.fallback li {
    background-color: #ECE7E1;
    margin-bottom: 5px;
    width: 700px;
    padding: 10px 10px;
    float: left;
}

.TwylaBotButton {
    display: flex;
    justify-content: flex-start;
    padding: 10px 10px;
    background-color: #33B86F;
    border: none;
    color: white;
    margin-left: 40px;
}

/***** TENANT *****/

.tenantPage {
    margin-top: 50px;
    margin-left: 150px;
}

/***** INTEGRATION *****/
.integrationPage {
    margin-top: 50px;
    margin-left: 150px;
}

.integrationist {
    display: flex;
    flex-direction: column;
}

.integrationist ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}

.integrationist li {
    padding: 30px 30px;
    display: flex;
    flex-basis: calc(33% - 20px);
    justify-content: center;
    flex-direction: column;
}