body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

/* Header */
.navbar-brand {
    text-decoration: none;
    background-color: purple;
    padding: 20px 20px;
}

.navbar-brand a {
    text-decoration: none;
    color: white;
}

/* navbar */
.navbar {
    display: flex;
    justify-content: flex-start;
    
    list-style-type: none;
}

.navbar ul {
    list-style-type: none;
}

.navbar-nav {
    
   
}